<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxd.server.dao.AlbumMapper">

    <insert id="addAlbum" useGeneratedKeys="true" keyProperty="id">
        insert into t_album(title, device, views, `like`,
                            description, create_time, update_time, user_id, urls)
        values(#{title}, #{device}, #{views}, #{like},
               #{description}, #{createTime}, #{updateTime}, #{userId}, #{urls});
    </insert>
</mapper>