<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxd.server.dao.UserMapper">

    <insert id="addUser">
        insert into t_user (avatar, description, create_time, email, nickname, password,
                            moto, type, update_time, username, site)
        values (#{avatar}, #{description}, #{createTime}, #{email}, #{nickname}, #{password},
                #{moto}, #{type}, #{updateTime}, #{username}, #{site});
    </insert>
    <update id="updateUser">
        update t_user set nickname = #{nickname}, password = #{password}, email = #{email}, moto = #{moto},
                          site = #{site}, description = #{description}, avatar = #{avatar}, update_time = #{updateTime}
        where id = #{id};
    </update>
    <select id="getUserByNameAndPassword" resultType="com.fxd.server.pojo.User">
        select * from t_user where username = #{username} and password = #{password};
    </select>
    <select id="getUserCountByName" resultType="java.lang.Integer">
        select COUNT(*) from t_user where username = #{username};
    </select>
    <select id="getUserById" resultType="com.fxd.server.pojo.User">
        select * from t_user where id = #{id};
    </select>

    <resultMap id="userResMap" type="com.fxd.server.pojo.User">
        <id property="id" column="id"/>
        <result property="avatar" column="avatar"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="moto" column="moto"/>
        <result property="type" column="type"/>
        <result property="updateTime" column="update_time"/>
        <result property="username" column="username"/>
        <result property="site" column="site"/>
        <association property="blogNum" javaType="int" column="id" select="getBlogCountByUserId"/>
        <association property="albumNum" javaType="int" column="id" select="getAlbumCountByUserId"/>
    </resultMap>

    <select id="getBlogCountByUserId" resultType="int">
        select COUNT(*) from t_blog where user_id = #{id};
    </select>

    <select id="getAlbumCountByUserId" resultType="int">
        select COUNT(*) from t_album where user_id = #{id};
    </select>

    <select id="getAllUsers" resultMap="userResMap">
        select * from t_user;
    </select>

</mapper>