<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxd.server.dao.UserMapper">

    <insert id="addUser">
        insert into t_user (avatar, description, create_time, email, nickname, password,
                            moto, type, update_time, username, site)
        values (#{avatar}, #{description}, #{createTime}, #{email}, #{nickname}, #{password},
                #{moto}, #{type}, #{updateTime}, #{username}, #{site});
    </insert>
    <select id="getUserByNameAndPassword" resultType="com.fxd.server.pojo.User">
        select * from t_user where username = #{username} and password = #{password};
    </select>
    <select id="getUserCountByName" resultType="java.lang.Integer">
        select COUNT(*) from t_user where username = #{username};
    </select>


</mapper>